{% block title %}{% trans %}tools.ic_logos.title{% endtrans %}{% endblock %}

{% block card_title %}
    <i class="fa-solid fa-flag fa-fw"></i> {% trans %}tools.ic_logos.title{% endtrans %}
{% endblock %}


{% extends "main_card.html.twig" %}

    {% block card_content %}


        <ul class="pagination">
            {% for letter in "abcdefghijklmnopqrstuvwxyz"|upper|split("") %}
                <li class="page-item"><a class="link-anchor page-link" data-turbo="false" href="#{{ letter }}">{{ letter }}</a></li>
            {% endfor %}
        </ul>
        <table class="table table-striped table-hover">

            <thead><tr class="bg-info"><th colspan="2"><a id="A">A</a></th></tr></thead>
            <tr><td><img src="{{ asset("img/iclogos/acer.png") }}" alt=""></td><td>Acer Integrated Circuit Designs</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/actel.png") }}" alt=""></td><td>ACTEL</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/advldev.png") }}" alt=""></td><td>ALTINC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/aeroflex1.png") }}" alt=""></td><td>Aeroflex</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/aeroflex2.png") }}" alt=""></td><td>Aeroflex</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/agilent.png") }}" alt=""></td><td>Agilent Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/akm.png") }}" alt=""></td><td>AKM Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/alesis.png") }}" alt=""></td><td>Alesis Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ali1.png") }}" alt=""></td><td>ALi (Acer Laboratories Inc.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ali2.png") }}" alt=""></td><td>ALi (Acer Laboratories Inc.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/allayer.png") }}" alt=""></td><td>Allayer Communications</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/allegro.png") }}" alt=""></td><td>Allegro Microsystems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/alliance.png") }}" alt=""></td><td>Alliance Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/alphaind.png") }}" alt=""></td><td>Alpha Industries</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/alphamic.png") }}" alt=""></td><td>Alpha Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/alpha.png") }}" alt=""></td><td>Alpha Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/altera.png") }}" alt=""></td><td>Altera</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/amd.png") }}" alt=""></td><td>Advanced Micro Devices (AMD)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ami1.png") }}" alt=""></td><td>American Microsystems, Inc. (AMI)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ami2.png") }}" alt=""></td><td>American Microsystems, Inc. (AMI)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/amic.png") }}" alt=""></td><td>Amic Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ampus.png") }}" alt=""></td><td>Amphus</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/anachip.png") }}" alt=""></td><td>Anachip Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/anadigic.png") }}" alt=""></td><td>ANADIGICs</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/analog1.png") }}" alt=""></td><td>Analog Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/analog.png") }}" alt=""></td><td>Analog Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/anasys.png") }}" alt=""></td><td>Analog Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/anchorch.png") }}" alt=""></td><td>Anchor Chips</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/apex1.png") }}" alt=""></td><td>Apex Microtechnology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/apex.png") }}" alt=""></td><td>Apex Microtechnology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ark.png") }}" alt=""></td><td>ARK Logic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/asd.png") }}" alt=""></td><td>ASD</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/astec.png") }}" alt=""></td><td>Astec Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/atc.png") }}" alt=""></td><td>ATC (Analog Technologie)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/atecom.png") }}" alt=""></td><td>ATecoM</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ati.png") }}" alt=""></td><td>ATI Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/atmel.png") }}" alt=""></td><td>Atmel</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/att.png") }}" alt=""></td><td>AT&amp;T</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/audiocod.png") }}" alt=""></td><td>AudioCodes</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/auravis.png") }}" alt=""></td><td>Aura Vision</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/aureal.png") }}" alt=""></td><td>Aureal</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/austin.png") }}" alt=""></td><td>Austin Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/averlog.png") }}" alt=""></td><td>Avance Logic</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="B">B</a></th></tr></thead>
            <tr><td><img src="{{ asset("img/iclogos/belfuse.png") }}" alt=""></td><td>Bel Fuse</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/benchmrq.png") }}" alt=""></td><td>Benchmarq Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/bi.png") }}" alt=""></td><td>BI Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/bowmar_white.png") }}" alt=""></td><td>Bowmar/White</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/bright.png") }}" alt=""></td><td>Brightflash</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/broadcom.png") }}" alt=""></td><td>Broadcom</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/brooktre.png") }}" alt=""></td><td>Brooktree(now Rockwell)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/burrbrwn.png") }}" alt=""></td><td>Burr Brown</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="C">C</a></th></tr></thead>
            <tr><td><img src="{{ asset("img/iclogos/calmicro.png") }}" alt=""></td><td>California Micro Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/calogic.png") }}" alt=""></td><td>Calogic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/catalys1.png") }}" alt=""></td><td>Catalyst Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/catalyst.png") }}" alt=""></td><td>Catalyst Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ccube.png") }}" alt=""></td><td>Centon Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ceramate1.png") }}" alt=""></td><td>Ceramate Technical</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ceramate2.png") }}" alt=""></td><td>Ceramate Technical</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cherry.png") }}" alt=""></td><td>Cherry Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/chipcon1.png") }}" alt=""></td><td>Chipcon AS</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/chipcon2.png") }}" alt=""></td><td>Chipcon AS</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/chips.png") }}" alt=""></td><td>Chips</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/chrontel.png") }}" alt=""></td><td>Chrontel</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cirrus.png") }}" alt=""></td><td>Cirrus Logic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/comcore.png") }}" alt=""></td><td>ComCore Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/conexant.png") }}" alt=""></td><td>Conexant</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cosmo.png") }}" alt=""></td><td>Cosmo Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/crystal.png") }}" alt=""></td><td>Chrystal</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cygnal.png") }}" alt=""></td><td>Cygnal</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cypres1.png") }}" alt=""></td><td>Cypress Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cypress.png") }}" alt=""></td><td>Cypress Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/cyrix.png") }}" alt=""></td><td>Cyrix Corporation</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="D">D</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/daewoo.png") }}" alt=""></td><td>Daewoo Electronics Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dallas1.png") }}" alt=""></td><td>Dallas Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dallas2.png") }}" alt=""></td><td>Dallas Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dallas3.png") }}" alt=""></td><td>Dallas Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/davicom.png") }}" alt=""></td><td>Davicom Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ddd.png") }}" alt=""></td><td>Data Delay Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/diamond.png") }}" alt=""></td><td>Diamond Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/diotec.png") }}" alt=""></td><td>DIOTEC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dtc1.png") }}" alt=""></td><td>DTC Data Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dtc2.png") }}" alt=""></td><td>DTC Data Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/dvdo.png") }}" alt=""></td><td>DVDO</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="E">E</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/edi.png") }}" alt=""></td><td>EG&amp;G</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/egg.png") }}" alt=""></td><td>Elan Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/elan.png") }}" alt=""></td><td>ELANTEC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/elantec1.png") }}" alt=""></td><td>ELANTEC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/elantec.png") }}" alt=""></td><td>ELANTEC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/elec_arrays.png") }}" alt=""></td><td>Electronic Arrays</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/elite[1].png") }}" alt=""></td><td>Elite Flash Storage Technology Inc. (EFST)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/emmicro.png") }}" alt=""></td><td>EM Microelectronik - Marin</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/enhmemsy.png") }}" alt=""></td><td>Enhanced Memory Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ensoniq.png") }}" alt=""></td><td>Ensoniq Corp</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/eon.png") }}" alt=""></td><td>EON Silicon Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/epson1.png") }}" alt=""></td><td>Epson</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/epson2.png") }}" alt=""></td><td>Epson</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ericsson.png") }}" alt=""></td><td>Ericsson</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ess.png") }}" alt=""></td><td>ESS Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/etc.png") }}" alt=""></td><td>Electronic Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/exar.png") }}" alt=""></td><td>EXAR</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/excelsemi1.png") }}" alt=""></td><td>Excel Semiconductor Inc.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/excelsemi2.png") }}" alt=""></td><td>Excel Semiconductor Inc.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/exel.png") }}" alt=""></td><td>Excel Semiconductor Inc.</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="F">F</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/fairchil.png") }}" alt=""></td><td>Fairchild</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/freescale.png") }}" alt=""></td><td>Freescale Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/fujielec.png") }}" alt=""></td><td>Fujitsu</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/fujitsu2.png") }}" alt=""></td><td>Fujitsu</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="G">G</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/galileo.png") }}" alt=""></td><td>Galileo Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/galvant.png") }}" alt=""></td><td>Galvantech</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gecples.png") }}" alt=""></td><td>GEC Plessey</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gennum.png") }}" alt=""></td><td>Gennum</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ge.png") }}" alt=""></td><td>General Electric (Harris)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gi1.png") }}" alt=""></td><td>General Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gi.png") }}" alt=""></td><td>General Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/glink.png") }}" alt=""></td><td>G-Link Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/goal1.png") }}" alt=""></td><td>Goal Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/goal2.png") }}" alt=""></td><td>Goal Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/goldstar1.png") }}" alt=""></td><td>Goldstar</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/goldstar2.png") }}" alt=""></td><td>Goldstar</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gould.png") }}" alt=""></td><td>Gould</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/greenwich.png") }}" alt=""></td><td>Greenwich Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/gsemi.png") }}" alt=""></td><td>General Semiconductor</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="H">H</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/harris1.png") }}" alt=""></td><td>Harris Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/harris2.png") }}" alt=""></td><td>Harris Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hfo.png") }}" alt=""></td><td>VEB Halbleiterwerk Frankfurt (Oder)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hitachi.png") }}" alt=""></td><td>Hitachi Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/holtek.png") }}" alt=""></td><td>Holtek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hp.png") }}" alt=""></td><td>Hewlett Packard</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hualon.png") }}" alt=""></td><td>Hualon</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hynix.png") }}" alt=""></td><td>Hynix Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/hyundai2.png") }}" alt=""></td><td>Hyundai</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="I">I</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/icdesign.png") }}" alt=""></td><td>IC Design</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/icd.png") }}" alt=""></td><td>Integrated Circuit Systems (ICS)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ichaus1.png") }}" alt=""></td><td>IC - Haus</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ichaus.png") }}" alt=""></td><td>IC - Haus</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/icsi.png") }}" alt=""></td><td>ICSI (Integrated Circuit Solution Inc.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ics.png") }}" alt=""></td><td>Integrated Circuit Systems (ICS)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/icube.png") }}" alt=""></td><td>I-Cube</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/icworks.png") }}" alt=""></td><td>IC Works</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/idt1.png") }}" alt=""></td><td>Integrated Device Technology (IDT)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/idt.png") }}" alt=""></td><td>Integrated Device Technology (IDT)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/igstech.png") }}" alt=""></td><td>IGS Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/impala.png") }}" alt=""></td><td>IMPALA Linear</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/imp.png") }}" alt=""></td><td>IMP</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/infineon.png") }}" alt=""></td><td>Infineon</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/inmos.png") }}" alt=""></td><td>INMOS</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/intel2.png") }}" alt=""></td><td>Intel</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/intresil4.png") }}" alt=""></td><td>Intersil</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/intrsil1.png") }}" alt=""></td><td>Intersil</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/intrsil2.png") }}" alt=""></td><td>Intersil</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/intrsil3.png") }}" alt=""></td><td>Intersil</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ir.png") }}" alt=""></td><td>International Rectifier</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/isd.png") }}" alt=""></td><td>Information Storage Devices</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/issi.png") }}" alt=""></td><td>ISSI (Integrated Silicon Solution, Inc.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ite.png") }}" alt=""></td><td>Integrated Technology Express</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/itex.png") }}" alt=""></td><td>INTEL</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/itt.png") }}" alt=""></td><td>ITT Semiconductor (Micronas Intermetall)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ixys.png") }}" alt=""></td><td>IXYS</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="J">J</a></th></thead>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="K">K</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/kec.png") }}" alt=""></td><td>Korea Electronics (KEC)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/kota.png") }}" alt=""></td><td>Kota Microcircuits</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="L">L</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/lattice1.png") }}" alt=""></td><td>Lattice Semiconductor Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lattice2.png") }}" alt=""></td><td>Lattice Semiconductor Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lattice3.png") }}" alt=""></td><td>Lattice Semiconductor Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lds1.png") }}" alt=""></td><td>Lansdale Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lds.png") }}" alt=""></td><td>Lansdale Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/levone.png") }}" alt=""></td><td>Level One Communications</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lgs1.png") }}" alt=""></td><td>LG Semicon (Lucky Goldstar Electronic Co.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lgs.png") }}" alt=""></td><td>LG Semicon (Lucky Goldstar Electronic Co.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/linear.png") }}" alt=""></td><td>Linear Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/linfin.png") }}" alt=""></td><td>Linfinity Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/liteon.png") }}" alt=""></td><td>Lite-On</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/lucent.png") }}" alt=""></td><td>Lucent Technologies (AT&amp;T Microelectronics)</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="M">M</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/macronix.png") }}" alt=""></td><td>Macronix International</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/marvell.png") }}" alt=""></td><td>Marvell Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/matsush1.png") }}" alt=""></td><td>Matsushita Panasonic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/matsushi.png") }}" alt=""></td><td>Matsushita Panasonic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/maxim.png") }}" alt=""></td><td>Maxim Dallas</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mediavi1.png") }}" alt=""></td><td>Media Vision</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mediavi2.png") }}" alt=""></td><td>Media Vision</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/me.png") }}" alt=""></td><td>Microchip (Arizona Michrochip Technology)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mhs2.png") }}" alt=""></td><td>Matra MHS</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mhs.png") }}" alt=""></td><td>Matra MHS</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/micrel1.png") }}" alt=""></td><td>Micrel Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/micrel2.png") }}" alt=""></td><td>Micrel Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/microchp.png") }}" alt=""></td><td>Microchip (Arizona Michrochip Technology)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/micronas.png") }}" alt=""></td><td>Micronas</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/micronix.png") }}" alt=""></td><td>Micronix Integrated Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/micron.png") }}" alt=""></td><td>Micron Technology, Inc.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/microsemi1.png") }}" alt=""></td><td>Microsemi</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/microsemi2.png") }}" alt=""></td><td>Microsemi</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/minicirc.png") }}" alt=""></td><td>Mini-Circuits</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mitel.png") }}" alt=""></td><td>Mitel Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mitsubis.png") }}" alt=""></td><td>Mitsubishi Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mlinear.png") }}" alt=""></td><td>Micro Linear</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mmi.png") }}" alt=""></td><td>MMI (Monolithic Memories, Inc.)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mosaic.png") }}" alt=""></td><td>Mosaic Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/moselvit.png") }}" alt=""></td><td>Mosel Vitelic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mos.png") }}" alt=""></td><td>MOS Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mostek1.png") }}" alt=""></td><td>Mostek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mostek2.png") }}" alt=""></td><td>Mostek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mostek3.png") }}" alt=""></td><td>Mostek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mosys.png") }}" alt=""></td><td>MoSys</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/motorol1.png") }}" alt=""></td><td>Motorola</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/motorol2.png") }}" alt=""></td><td>Motorola</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mpd.png") }}" alt=""></td><td>Microtune</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/msystem.png") }}" alt=""></td><td>M-Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/murata1.png") }}" alt=""></td><td>Murata Manufacturing</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/murata.png") }}" alt=""></td><td>Murata Manufacturing</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/mwave.png") }}" alt=""></td><td>MWave (IBM)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/myson.png") }}" alt=""></td><td>Myson Technology</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="N">N</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/nec1.png") }}" alt=""></td><td>NEC Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/nec2.png") }}" alt=""></td><td>NEC Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/nexflash.png") }}" alt=""></td><td>NexFlash Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/njr.png") }}" alt=""></td><td>New Japan Radio</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ns1.png") }}" alt=""></td><td>National Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ns2.png") }}" alt=""></td><td>National Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/nvidia.png") }}" alt=""></td><td>NVidia Corporation</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="O">O</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/oak.png") }}" alt=""></td><td>Oak Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/oki1.png") }}" alt=""></td><td>Oki Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/oki.png") }}" alt=""></td><td>Oki Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/opti.png") }}" alt=""></td><td>Opti</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/orbit.png") }}" alt=""></td><td>Orbit Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/oren.png") }}" alt=""></td><td>Oren Semiconductor</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="P">P</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/perform.png") }}" alt=""></td><td>Performance Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/pericom.png") }}" alt=""></td><td>Pericom Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/phaslink.png") }}" alt=""></td><td>PhaseLink Laboratories</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/philips.png") }}" alt=""></td><td>Philips Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/plx.png") }}" alt=""></td><td>PLX Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/pmc.png") }}" alt=""></td><td>PMC- Sierra</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/pmi.png") }}" alt=""></td><td>Precision Monolithics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ptc.png") }}" alt=""></td><td>Princeton Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/pwrsmart.png") }}" alt=""></td><td>PowerSmart</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="Q">Q</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/qlogic.png") }}" alt=""></td><td>QuickLogic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/qualcomm.png") }}" alt=""></td><td>Qlogic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/quality.png") }}" alt=""></td><td>Quality Semiconductor</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="R">R</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/rabbit.png") }}" alt=""></td><td>Rabbit Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ramtron.png") }}" alt=""></td><td>Ramtron International Co.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/raytheon.png") }}" alt=""></td><td>Raytheon Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/rca.png") }}" alt=""></td><td>RCA Solid State</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/realtek.png") }}" alt=""></td><td>Realtek Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/rectron.png") }}" alt=""></td><td>Rectron</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/rendit.png") }}" alt=""></td><td>Rendition</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/renesas.png") }}" alt=""></td><td>Renesas Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/rockwell.png") }}" alt=""></td><td>Rockwell</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/rohm.png") }}" alt=""></td><td>Rohm Corp.</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="S">S</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/s3.png") }}" alt=""></td><td>S3</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sage.png") }}" alt=""></td><td>Sage</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/saifun.png") }}" alt=""></td><td>Saifun Semiconductors Ltd.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sames.png") }}" alt=""></td><td>Sames</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/samsung.png") }}" alt=""></td><td>Samsung</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sanken1.png") }}" alt=""></td><td>Sanken</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sanken.png") }}" alt=""></td><td>Sanken</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sanyo1.png") }}" alt=""></td><td>Sanyo</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sanyo.png") }}" alt=""></td><td>Sanyo</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/scenix.png") }}" alt=""></td><td>Scenix</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sec1.png") }}" alt=""></td><td>Samsung Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sec.png") }}" alt=""></td><td>Samsung Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/seeq.png") }}" alt=""></td><td>SEEQ Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/seikoi.png") }}" alt=""></td><td>Seiko Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/semelab.png") }}" alt=""></td><td>Seiko Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/semtech.png") }}" alt=""></td><td>Semtech</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sgs1.png") }}" alt=""></td><td>SGS-Ates</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sgs2.png") }}" alt=""></td><td>SGS-Thomson Microelectonics ST-M)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sharp.png") }}" alt=""></td><td>Sharp Microelectronics (USA)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/shindgen.png") }}" alt=""></td><td>Shindengen</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/siemens1.png") }}" alt=""></td><td>Siemens Microelectronics, Inc.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/siemens2.png") }}" alt=""></td><td>Siemens Microelectronics, Inc.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sierra.png") }}" alt=""></td><td>Sierra</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sigmatel.png") }}" alt=""></td><td>Sigma Tel</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/signetic.png") }}" alt=""></td><td>Signetics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/siliconlabs.png") }}" alt=""></td><td>Silicon Laboratories</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/siliconm.png") }}" alt=""></td><td>Silicon Magic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/silicons.png") }}" alt=""></td><td>Simtec Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/siliconx.png") }}" alt=""></td><td>Siliconix</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/silnans.png") }}" alt=""></td><td>Siliconians</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/simtek.png") }}" alt=""></td><td>Simtec Corp.</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sipex.png") }}" alt=""></td><td>Sipex</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sis.png") }}" alt=""></td><td>Silicon Integrated Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/smc1.png") }}" alt=""></td><td>SMC</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/smsc1.png") }}" alt=""></td><td>Standard Microsystems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/smsc.png") }}" alt=""></td><td>Standard Microsystems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sony.png") }}" alt=""></td><td>Sony Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/space.png") }}" alt=""></td><td>Space Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/spectek.png") }}" alt=""></td><td>Spectek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/spt.png") }}" alt=""></td><td>Signal Processing Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sss.png") }}" alt=""></td><td>Solid State Scientific</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/sst.png") }}" alt=""></td><td>Silicon Storage Technology (SST)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/st.png") }}" alt=""></td><td>STMicroelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/summit.png") }}" alt=""></td><td>SUMMIT Microelectronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/synergy.png") }}" alt=""></td><td>Synergy Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/synertek.png") }}" alt=""></td><td>Synertek</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="T">T</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/taiwsemi.png") }}" alt=""></td><td>Taiwan Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/tdk.png") }}" alt=""></td><td>TDK Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/teccor.png") }}" alt=""></td><td>Teccor Electronics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/telcom.png") }}" alt=""></td><td>TelCom Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/teledyne.png") }}" alt=""></td><td>Teledyne</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/telefunk.png") }}" alt=""></td><td>Telefunken</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/teltone.png") }}" alt=""></td><td>Teltone</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/thomscsf.png") }}" alt=""></td><td>Thomson-CSF</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ti1.png") }}" alt=""></td><td>Texas Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/ti.png") }}" alt=""></td><td>Texas Instruments</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/toko.png") }}" alt=""></td><td>Toko Amerika</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/toshiba1.png") }}" alt=""></td><td>Toshiba (US)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/toshiba2.png") }}" alt=""></td><td>Toshiba (US)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/toshiba3.png") }}" alt=""></td><td>Toshiba (US)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/trident.png") }}" alt=""></td><td>Trident</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/triquint.png") }}" alt=""></td><td>TriQuint Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/triscend.png") }}" alt=""></td><td>Triscend</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/tseng.png") }}" alt=""></td><td>Tseng Labs</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/tundra.png") }}" alt=""></td><td>Tundra</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/turbo_ic.png") }}" alt=""></td><td>Turbo IC</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="U">U</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/ubicom.png") }}" alt=""></td><td>Ubicom</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/umc.png") }}" alt=""></td><td>United Microelectronics Corp (UMC)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/unitrode.png") }}" alt=""></td><td>Unitrode</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/usar1.png") }}" alt=""></td><td>USAR Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/usar.png") }}" alt=""></td><td>USAR Systems</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/utmc.png") }}" alt=""></td><td>United Technologies Microelectronics Center (UTMC)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/utron.png") }}" alt=""></td><td>Utron</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="V">V</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/v3.png") }}" alt=""></td><td>V3 Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vadem.png") }}" alt=""></td><td>Vadem</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vanguard.png") }}" alt=""></td><td>Vanguard International Semiconductor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vantis.png") }}" alt=""></td><td>Vantis</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/via.png") }}" alt=""></td><td>Via Technologies</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/virata.png") }}" alt=""></td><td>Virata</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vishay.png") }}" alt=""></td><td>Vishay</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vistech.png") }}" alt=""></td><td>Vision Tech</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vitelic.png") }}" alt=""></td><td>Vitelic</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vlsi.png") }}" alt=""></td><td>VLSI Technology</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/volterra.png") }}" alt=""></td><td>Volterra</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/vtc.png") }}" alt=""></td><td>VTC</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="W">W</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/wafscale.png") }}" alt=""></td><td>Waferscale Integration (WSI)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/wdc1.png") }}" alt=""></td><td>Western Digital</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/wdc2.png") }}" alt=""></td><td>Western Digital</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/weitek.png") }}" alt=""></td><td>Weitek</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/winbond.png") }}" alt=""></td><td>Winbond</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/wolf.png") }}" alt=""></td><td>Wofson Microelectronics</td></tr>


            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="X">X</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/xemics.png") }}" alt=""></td><td>Xwmics</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/xicor1.png") }}" alt=""></td><td>Xicor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/xicor.png") }}" alt=""></td><td>Xicor</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/xilinx.png") }}" alt=""></td><td>Xilinx</td></tr>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="Y">Y</a></th></thead>

            <thead><tr class="bg-info"><th colspan="2"><a class="headline" id="Z">Z</a></th></thead>
            <tr><td><img src="{{ asset("img/iclogos/zetex.png") }}" alt=""></td><td>Zetex Semiconductors</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zilog1.png") }}" alt=""></td><td>Zilog</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zilog2.png") }}" alt=""></td><td>Zilog</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zilog3.png") }}" alt=""></td><td>Zilog</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zilog4.png") }}" alt=""></td><td>Zilog</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zmda.png") }}" alt=""></td><td>ZMD (Zentrum Mikroelektronik Dresden)</td></tr>
            <tr><td><img src="{{ asset("img/iclogos/zoran.png") }}" alt=""></td><td>Zoran</td></tr>

        </table>

    {% endblock %}