{% block number_constraint_widget %}
    <div class="input-group" {{ stimulus_controller('filters/number_constraint') }}>
        {{ form_widget(form.operator, {"attr": {
            "class": "form-select",
            "data-filters--number-constraint-target": "operator",
            "data-action": "change->filters--number-constraint#update"
        }}) }}
        {{ form_widget(form.value1) }}
        <span class="input-group-text d-none" {{ stimulus_target('filters/number_constraint', 'thingsToHide') }}>{% trans %}filter.number_constraint.AND{% endtrans %}</span>
        {{ form_widget(form.value2, {"attr": {"class": "d-none", "data-filters--number-constraint-target": "thingsToHide"}}) }}
        {% if form.vars["text_suffix"] %}
            <span class="input-group-text">{{ form.vars["text_suffix"] }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block text_constraint_widget %}
    <div class="input-group">
        {{ form_widget(form.operator, {"attr": {"class": "form-select"}}) }}
        {{ form_widget(form.value) }}
        {% if form.vars["text_suffix"] is defined and form.vars["text_suffix"] %}
            <span class="input-group-text">{{ form.vars["text_suffix"] }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block structural_entity_constraint_widget %}
    {{ block('text_constraint_widget') }}
{% endblock %}

{% block date_time_constraint_widget %}
    {{ block('number_constraint_widget') }}
{% endblock %}

{% block tags_constraint_widget %}
    {{ block('text_constraint_widget') }}
{% endblock %}

{% block choice_constraint_widget %}
    {{ block('text_constraint_widget') }}
{% endblock %}