{{ form_row(form.needsReview) }}
{{ form_row(form.favorite) }}
{{ form_row(form.mass) }}
<div {{ stimulus_controller('elements/ipn_suggestion', {
    partId: part.id,
    partCategoryId: part.category ? part.category.id : null,
    partDescription: part.description,
    suggestions: ipnSuggestions,
    'commonSectionHeader': 'part.edit.tab.advanced.ipn.commonSectionHeader'|trans,
    'partIncrementHeader': 'part.edit.tab.advanced.ipn.partIncrementHeader'|trans,
    'suggestUrl': url('ipn_suggestions')
}) }}>
    {{ form_row(form.ipn) }}
</div>
{{ form_row(form.partUnit) }}