{{ form_row(form.eda_info.reference_prefix) }}
{{ form_row(form.eda_info.value) }}

<div class="row">
    <div class="col-sm-9 offset-sm-3">
        {{ form_row(form.eda_info.invisible) }}
    </div>
</div>

<div class="row mb-2">
    <div class="col-sm-9 offset-sm-3">
        {{ form_widget(form.eda_info.exclude_from_bom) }}
        {{ form_widget(form.eda_info.exclude_from_board) }}
        {{ form_widget(form.eda_info.exclude_from_sim) }}
    </div>
</div>

<div class="row">
    <div class="col-sm-9 offset-sm-3">
        <h6>{% trans %}eda_info.kicad_section.title{% endtrans %}:</h6>
    </div>
</div>
{{ form_row(form.eda_info.kicad_symbol) }}
{{ form_row(form.eda_info.kicad_footprint) }}