{{ form_row(form.name) }}
{% if part.category is not null and part.category.partnameHint is not empty %}
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
            <p class="text-muted"><b>{% trans %}part.edit.name.category_hint{% endtrans %}:</b> {{ part.category.partnameHint }}</p>
        </div>
    </div>
{% endif %}
{{ form_row(form.description) }}
{{ form_row(form.category) }}
{{ form_row(form.tags) }}
{{ form_row(form.minAmount) }}

{{ form_row(form.footprint) }}

