{% extends "AdminPages/EntityAdminBase.html.twig" %}

{% block additional_controls %}
    {{ form_row(form.address) }}
    {{ form_row(form.phone_number) }}
    {{ form_row(form.fax_number) }}
    {{ form_row(form.email_address) }}
    {{ form_row(form.website) }}
    {{ form_row(form.auto_product_url) }}
{% endblock %}

{% block comment %}{% endblock %}

{% block additional_pills %}
    <li class="nav-item"><a data-toggle="tab" class="nav-link link-anchor" href="#home_advanced">{% trans %}admin.advanced{% endtrans %}</a></li>
{% endblock %}

{% block additional_panes %}
<div class="tab-pane" id="home_advanced">
    {{ form_row(form.comment) }}
</div>
{% endblock %}

{% block quick_links %}
    {% if entity.website is not empty %}
        <a href="{{ entity.website }}" title="{% trans %}company.edit.quick.website{% endtrans %}" data-no-ajax><i class="fas fa-globe fa-fw fa-lg"></i></a>
    {% endif %}
    {% if entity.emailAddress is not empty %}
        <a href="mailto:{{ entity.emailAddress }}" title="{% trans %}company.edit.quick.email{% endtrans %}" data-no-ajax><i class="fas fa-envelope-open-text fa-lg"></i></a>
    {% endif %}
    {% if entity.phoneNumber is not empty %}
        <a href="tel:{{ entity.phoneNumber | replace({' ': ''}) }}" title="{% trans %}company.edit.quick.phone{% endtrans %}" data-no-ajax><i class="fas fa-phone fa-lg"></i></a>
    {% endif %}
    {% if entity.faxNumber is not empty %}
        <a href="tel:{{ entity.faxNumber | replace({' ': ''}) }}" title="{% trans %}company.edit.quick.fax{% endtrans %}" data-no-ajax><i class="fas fa-fax fa-lg"></i></a>
    {% endif %}
{% endblock %}