{% extends "main_card.html.twig" %}

{% block card_content %}
    <div class="row">
        <div class="col-4">

            <div class="row">
                <div class="col-8">
                    <input id="tree-search" type="search" class="form-control" placeholder="{% trans %}search.placeholder{% endtrans %}">
                </div>
                <div class="btn-group btn-group-sm col-4" role="group">
                    <button type="button" class="btn btn-outline-secondary" id="tree-expand"
                            title="{% trans %}expandAll{% endtrans %}">
                        <i class="fas fa-plus fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" id="tree-reduce"
                            title="{% trans %}reduceAll{% endtrans %}">
                        <i class="fas fa-minus fa-fw"></i>
                    </button>
                </div>
            </div>

            <div class="treeview-sm mt-2" id="tree" data-tree-data="{{ generateTreeData(entity) }}"
                 data-tree-search="#tree-search" data-tree-expand="#tree-expand" data-tree-reduce="#tree-reduce">

            </div>

        </div>

        <div class="col-8">

            {{ form_start(form) }}

            <fieldset>
                <legend>
                    {% if entity.ID %}
                        <strong>{% trans with {'%name': entity.name} %}edit.caption{% endtrans %}</strong>
                    {% else %}
                        <strong>{% trans %}new.caption{% endtrans %}</strong>
                    {% endif %}
                </legend>

                <ul class="nav nav-tabs mt-2">
                    <li class="nav-item"><a class="link-anchor active nav-link" data-toggle="tab" href="#home">standard.label</a></li>
                    <li class="nav-item"><a data-toggle="tab" class="link-anchor nav-link" href="#info">infos.label</a></li>
                </ul>

                <div class="tab-content mb-3 mt-3">
                    <div id="home" class="tab-pane fade show active">
                        {{ form_row(form.name) }}
                        {{ form_row(form.parent) }}
                        {% block additional_controls %}{% endblock %}
                        {{ form_row(form.comment) }}
                    </div>

                    <div id="info" class="tab-pane fade">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3">{% trans %}id.label{% endtrans %}</label>
                            <div class="col-md-9">
                                <p class="form-control-plaintext">{% if entity.iD %}{{ entity.id }}{% else %}-{% endif %}</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-3">{% trans %}createdAt{% endtrans %}</label>
                            <div class="col-md-9">
                                <p class="form-control-plaintext">
                                    {% if date(entity.addedDate) > date('1900/01/01') %}
                                        {{ entity.addedDate | localizeddate("long") }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-3">{% trans %}lastModified{% endtrans %}</label>
                            <div class="col-md-9">
                                <p class="form-control-plaintext">
                                    {% if date(entity.lastModified) > date('1900/01/01') %}
                                        {{ entity.lastModified | localizeddate("long") }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_row(form.save) }}
                {{ form_row(form.reset) }}


            </fieldset>

            {{ form_end(form) }}

            {# Only include on existing parts #}
            {% if entity.id %}
                {{ include('AdminPages/_delete_form.html.twig') }}
            {% endif %}
        </div>

    </div>
{% endblock %}