{% extends "AdminPages/EntityAdminBase.html.twig" %}

{# @var entity App\Entity\ProjectSystem\Project #}

{% block card_title %}
    <i class="fas fa-archive fa-fw"></i> {% trans %}project.caption{% endtrans %}
{% endblock %}

{% block edit_title %}
    {% trans %}project.edit{% endtrans %}: {{ entity.name }}
{% endblock %}

{% block new_title %}
    {% trans %}project.new{% endtrans %}
{% endblock %}

{% block additional_pills %}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link link-anchor" href="#bom">BOM</a></li>
{% endblock %}

{% block additional_controls %}
    {{ form_row(form.description) }}
    {{ form_row(form.status) }}
    {% if entity.id %}
        <div class="mb-2 row">
            <label class="col-form-label col-sm-3">{% trans %}project.edit.associated_build_part{% endtrans %}</label>
            <div class="col-sm-9">
                {% if entity.buildPart %}
                    <span class="form-control-static"><a href="{{ entity_url(entity.buildPart) }}">{{ entity.buildPart.name }}</a></span>
                {% else %}
                    <a href="{{ path('part_new_build_part', {"project_id": entity.id , "_redirect": app.request.requestUri}) }}"
                       class="btn btn-outline-success">{% trans %}project.edit.associated_build_part.add{% endtrans %}</a>
                {% endif %}
                <p class="text-muted">{% trans %}project.edit.associated_build.hint{% endtrans %}</p>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block additional_panes %}
    <div class="tab-pane" id="bom">
        {% form_theme form.bom_entries with ['Form/collection_types_layout.html.twig'] %}
        {{ form_errors(form.bom_entries) }}
        {{ form_widget(form.bom_entries) }}
    </div>
{% endblock %}