{% set can_build = buildHelper.assemblyBuildable(assembly) %}

{% import "components/assemblies.macro.html.twig" as assembly_macros %}

{% if assembly.status is not empty and assembly.status != "in_production" %}
    <div class="alert mt-2 alert-warning" role="alert">
        <i class="fa-solid fa-triangle-exclamation fa-fw"></i> {% trans with {"%assembly_status%": ('assembly.status.'~assembly.status)|trans } %}assembly.builds.check_assembly_status{% endtrans %}
    </div>
{% endif %}

<div class="alert mt-2 {% if can_build %}alert-success{% else %}alert-danger{% endif %}" role="alert">
    {% if not can_build %}
        <h5><i class="fa-solid fa-circle-exclamation fa-fw"></i> {% trans %}assembly.builds.build_not_possible{% endtrans %}</h5>
        <b>{% trans %}assembly.builds.following_bom_entries_miss_instock{% endtrans %}</b>
        <ul>
            {% for bom_entry in buildHelper.nonBuildableAssemblyBomEntries(assembly) %}
                <li>{{ assembly_macros.assembly_bom_entry_with_missing_instock(bom_entry) }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h5><i class="fa-solid fa-circle-check fa-fw"></i> {% trans %}assembly.builds.build_possible{% endtrans %}</h5>
        <span>{% trans with {"%max_builds%": buildHelper.maximumBuildableCount(assembly)} %}assembly.builds.number_of_builds_possible{% endtrans %}</span>
    {% endif %}
</div>

<form method="get" action="{{ path('assembly_build', {"id": assembly.iD }) }}">
    <div class="row mt-2">
        <div class="col-4">
            <div class="input-group mb-3">
                <input type="number" min="1" class="form-control" placeholder="{% trans %}assembly.builds.number_of_builds{% endtrans %}" name="n" required>
                <input type="hidden" name="_redirect" value="{{  uri_without_host(app.request) }}">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{% trans %}assembly.build.btn_build{% endtrans %}</button>
            </div>
        </div>
    </div>
</form>

{% if assembly.buildPart %}
    <p><b>{% trans %}assembly.builds.no_stocked_builds{% endtrans %}:</b> <a href="{{ entity_url(assembly.buildPart) }}">{{ assembly.buildPart.amountSum }}</a></p>
{% endif %}