{% extends "admin/base_admin.html.twig" %}
{% import "label_system/dropdown_macro.html.twig" as dropdown %}

{% block card_title %}
    <i class="fas fa-cube fa-fw"></i> {% trans %}storelocation.labelp{% endtrans %}
{% endblock %}

{% block additional_controls %}
    {% if entity.id %}
        <div class="row form-group">
            <div class="offset-sm-3 col-sm-9">
                {{ dropdown.profile_dropdown('storelocation', entity.id) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block additional_pills %}
    <li class="nav-item"><a data-bs-toggle="tab" class="nav-link link-anchor" href="#home_options">{% trans %}admin.options{% endtrans %}</a></li>
{% endblock %}

{% block additional_panes %}
    <div class="tab-pane" id="home_options">
        {{ form_row(form.alternative_names) }}

        {{ form_row(form.storage_type) }}
        {{ form_row(form.is_full) }}
        {{ form_row(form.limit_to_existing_parts) }}
        {{ form_row(form.only_single_part) }}
        {{ form_row(form.owner) }}
        {{ form_row(form.part_owner_must_match) }}
    </div>
{% endblock %}

{% block edit_title %}
    {% trans %}storelocation.edit{% endtrans %}: <a href="{{ path('part_list_store_location', {'id': entity.id}) }}">{{ entity.name }}</a>
{% endblock %}

{% block new_title %}
    {% trans %}storelocation.new{% endtrans %}
{% endblock %}