{% extends "admin/base_company_admin.html.twig" %}

{% block card_title %}
    {% set dataSourceName = get_data_source_name('supplier', 'supplier.caption') %}
    {% set translatedSource = 'supplier.caption'|trans %}
    <i class="fas fa-truck fa-fw"></i> {% if dataSourceName != translatedSource %}{{ 'datasource.synonym'|trans({'%name%': translatedSource, '%synonym%': dataSourceName}) }}{% else %}{{ translatedSource }}{% endif %}
{% endblock %}

{% block additional_panes %}
    <div class="tab-pane" id="home_advanced">
        {{ form_row(form.alternative_names) }}
        {{ form_row(form.default_currency) }}
        {{ form_row(form.shipping_costs) }}
        {{ form_row(form.comment) }}
    </div>
{% endblock %}

{% block edit_title %}
    {% trans %}supplier.edit{% endtrans %}: <a href="{{ path('part_list_supplier', {'id': entity.id}) }}">{{ entity.name }}</a>
{% endblock %}

{% block new_title %}
    {% trans %}supplier.new{% endtrans %}
{% endblock %}