{% import "components/datatables.macro.html.twig" as datatables %}

<form method="post" action="{{ url("log_undo") }}"
        {{ stimulus_controller('elements/delete_btn') }} {{ stimulus_action('elements/delete_btn', "submit", "submit") }}
      data-delete-title="{% trans %}log.undo.confirm_title{% endtrans %}"
      data-delete-message="{% trans %}log.undo.confirm_message{% endtrans %}">
    <input type="hidden" name="redirect_back" value="{{ app.request.uri }}">

    {{ datatables.logDataTable(datatable) }}

</form>