{% import "helper.twig" as helper %}

<div class="row">
    <div class="col-md-3 col-lg-4">
        {% include "Parts/info/_picture.html.twig" %}
    </div>
    <div class="col-md-9 col-lg-8">
        <h5 class="text-muted pt-2" title="{% trans %}manufacturer.label{% endtrans %}">
            {% if part.manufacturer %}
                {% if part.manufacturer.id is not null %}
                    <a href="{{ part.manufacturer | entityURL('list_parts') }}">{{ part.manufacturer.name}}</a>
                {% else %}
                    {{ part.manufacturer.name }}
                {% endif %}
            {% endif %}
            {% if part.manufacturerProductUrl %}
                <small>
                    <a class="link-external" href="{{ part.manufacturerProductUrl }}" target="_blank">{{ part.manufacturerProductNumber }}</a>
                </small>
            {% else %}
                <small>{{ part.manufacturerProductNumber }}</small>
            {% endif %}
        </h5>
        <h3>{{ part.name }}
            {# You need edit permission to use the edit button #}
            {% if is_granted('edit', part) %}
                <a href="{{ part|entityURL('edit') }}"><i class="fas fa-fw fa-sm fa-edit"></i></a>
            {% endif %}
        </h3>
        <h6 class="text-muted"><span title="{% trans %}description.label{% endtrans %}">{{ part.description|markdown(true) }}</span></h6>
        <h6 class="">
            <i class="fas fa-tag fa-fw" title="{% trans %}category.label{% endtrans %}"></i>
            <span class="text-muted">{{ helper.structural_entity_link(part.category) }}</span>
        </h6>
        <h6><i class="fas fa-shapes fa-fw"></i>
            <span class="text-muted">
                                    <span title="{% trans %}instock.label{% endtrans %}">{{ part.amountSum | amountFormat(part.partUnit) }}</span>
                                    /
                                    <span title="{% trans %}mininstock.label{% endtrans %}">{{ part.minAmount | amountFormat(part.partUnit) }}</span>
                                </span>
        </h6>
        <h6 class="">
            <i class="fas fa-microchip fa-fw" title="{% trans %}footprint.label{% endtrans %}"></i>
            <span class="text-muted">{{ helper.structural_entity_link(part.footprint) }}</span>
        </h6>
        <h6>
            <i class="fas fa-money-bill-alt fa-fw"></i>
            <span class="text-muted">

                {% set min_order_amount = pricedetail_helper.minOrderAmount(part) %}
                {% set max_order_amount = pricedetail_helper.maxDiscountAmount(part) %}
                {% set max_order_price = pricedetail_helper.calculateAvgPrice(part, max_order_amount, app.user.currency ?? null) %}

                {% if max_order_price is not null %}
                    <span title="{% trans %}part.avg_price.label{% endtrans %} {{ max_order_amount | amountFormat(part.partUnit) }}">{{ max_order_price | moneyFormat(app.user.currency ?? null) }}</span>
                    {% if min_order_amount < max_order_amount %}
                    <span> - </span>
                    <span title="{% trans %}part.avg_price.label{% endtrans %} {{ min_order_amount | amountFormat(part.partUnit) }}">{{pricedetail_helper.calculateAvgPrice(part, min_order_amount, app.user.currency ?? null ) | moneyFormat(app.user.currency ?? null) }}</span>
                {% endif %}
                {% endif %}

            </span>
        </h6>
        {#
        {% if part.comment != "" %}
            <h6 title="{% trans %}comment.label{% endtrans %}">
                <i class="fas fa-comment-alt fa-fw"></i>
                <div class="d-inline-flex">
                    <span class="text-muted">{{ part.comment|nl2br }}</span>
                </div>
            </h6>
        {% endif %} #}
    </div>
</div>