{% extends "main_card.html.twig" %}

{% block title %}
    {% trans with {'%name%': part.name} %}part.edit.title{% endtrans %}
{% endblock %}

{% block card_title %}
    <i class="fas fa-edit fa-fw" aria-hidden="true"></i>
    {% trans with {'%name%': part.name} %}part.edit.card_title{% endtrans %}
    <b><a href="{{ part|entityURL('info') }}" class="text-white">{{ part.name }}</a></b>
    <div class="float-right">
        {% trans %}id.label{% endtrans %}: {{ part.id }}
    </div>
{% endblock %}

{% block card_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}